<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.dsh-muse.rotate-master</string>
  <key>ProgramArguments</key><array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/douba/Projects/dsh-muse/examples/rotate-master.mjs</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/douba/Projects/dsh-muse</string>
  <key>EnvironmentVariables</key><dict>
    <key>MUSE_URL</key><string>http://127.0.0.1:19387</string>
  </dict>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>0</integer></dict>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>/tmp/dsh-muse-rotate.log</string>
  <key>StandardErrorPath</key><string>/tmp/dsh-muse-rotate.log</string>
</dict></plist>
